<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EasyDnD</title>
  @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"> *@
  <link rel="icon" type="imagem/png" href="~/png/dadin.png" />
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/JavascriptUnificado.js"></script>
  <link rel="stylesheet" href="~/css/bootstrap-proprio.css">
</head>

<body style="min-height: 100vh">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black" style="min-width: 1260px;">
    <div class="container-fluid">
      <a class="navbar-brand w-100" asp-action="Index" asp-controller="Home" style="max-width: 100px">
        <img class="w-100 opacity-75" src="~/png/logo.png">
      </a>
      <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">`

          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Home" asp-action="ExibirFicha">Fichas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" asp-action="Index" asp-controller="Rolagem">Rolagem de Dados</a>
          </li>
         
          @* <li class="nav-item">
            <a class="nav-link text-white disabled" asp-controller="Usuario" asp-action="Perfil"
            asp-route-IdUsuario="1">Meu
            Perfil</a>
            </li> *@
          @* <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
            <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li> *@
          @if (!User.Identity.IsAuthenticated)
          {
            <li class="nav-item">
              <a asp-action="Login" asp-controller="Usuario" class="nav-link text-white">
                Entrar
              </a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a asp-action="Logout" asp-controller="Usuario" class="nav-link text-white">
                Sair
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid p-0 h-100" style="min-width: 1260px">
    @RenderBody()
  </div>
  @* <partial name="~/Views/Rolagem/_RolagemModal.cshtml"></partial> *@
  @await RenderSectionAsync("Scripts", required: false)
  </div>
</body>

</html>