    <table class="table table-primary table-responsive ">
    <thead>
        <tr>
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Nível</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Bônus de <br>Proficiência</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Características</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Truques Conhecidos</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Magias Conhecidas</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">1º</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">2º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">3º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">4º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">5º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">6º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">7º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">8º</h4>
            </th scope="col">
             <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">9º</h4>
            </th scope="col">
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Conjuração, Inspiração de Bardo (d6)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>

        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">             
                <p class="lead">Versatilidade, Canção do Descanso (d6)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">5</p>
            </td>
            
         <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Colégio de Bardo, Aptidão</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">6</p>
            </td>
              <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">7</p>
            </td>
                <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">5°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Inspiração de Bardo (d8), Fonte de
Inspiração</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">8</p>
            </td>
                <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">6°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Habilidade de Colégio de Bardo,
Canção de Proteção</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">9</p>
            </td>
                <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">7°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">10</p>
            </td>

                <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">8°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">11</p>

                    <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">9°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Canção do Descanso (d8)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">12</p>
            </td>

                <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">10°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Inspiração de Bardo (d10), Aptidão,
Segredos Mágicos
</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">13</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">11°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">14</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">12°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                              <p class="lead">15</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>

        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">13°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Canção do Descanso (d10)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">16</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">14°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Habilidade de Colégio de Bardo,
Segredos Mágicos
</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">17</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">15°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Inspiração de Bardo (d12)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">18</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">16°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">19</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">-</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">17°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Canção do Descanso (d12) </p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">20</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                                <p class="lead">18°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Segredos Mágicos </p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">21</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">19°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">22</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">20°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Inspiração Superior </p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">23</p>
            </td>

            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1</p>
            </td>
        </tr>
    </tbody>
</table>