    <table class="table table-primary table-responsive ">
    <thead>
        <tr>
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Nível</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Bônus de <br>Proficiência</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Características</h4>
            </th scope="col">
            <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Fúrias</h4>
            </th scope="col">
           <th class="texto-conteudo border border-dark border-1">
                <h4 class="texto-2 display-6">Dano de Fúria</h4>
            </th scope="col">
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">1°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Fúria, Defesa sem Armadura</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">             
                <p class="lead">Ataque Descuidado, Sentido do Perigo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Caminho Primitivo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">5°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Ataque Extra, Movimento Rápido</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">6°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Característica de Caminho Primitivo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">7°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Instinto Selvagem</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">8°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+2</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">9°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Crítico Brutal (+1 dado)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">10°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Característica de Caminho Primitivo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">11°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Fúria Implacável</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">12°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                              <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">13°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Crítico Brutal (+2 dados)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">14°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Característica de Caminho Primitivo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">15°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Fúria Persistente</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+3</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">16°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">5</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+4</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">17°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">Crítico Brutal (+3 dados)</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">

                <p class="lead">+4</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                                <p class="lead">18°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Força Indomável</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">19°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Incremento no Valor de Habilidade</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
        </tr>
        <tr>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">20°</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+6</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Campeão Primitivo</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">Ilimitado</p>
            </td>
            <td class="texto-conteudo border border-dark border-1">
                <p class="lead">+4</p>
            </td>
        </tr>
    </tbody>
</table>