@model Personagem
<div class="modal fade" id="_EscolherNomeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title display-6" id="exampleModalLabel">Insira um Nome</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-action="EscolherNome" asp-controller="Personagem">
                    <input type="hidden" asp-for="@Model.IdPersonagem">
                    <div class="mb-3">
                        <input type="text" class="form-control" asp-for="@Model.Nome" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
