<link rel="stylesheet" href="~/css/index1.css">
<div class="row">
  <div class="row m-auto p-3">
    <div class="row col-9 m-auto d-flex flex-wrap">
      <div class="col border  rounded  p-3 m-1" style="color: white; background-color:  rgb(134, 26, 22);">
        <div class="m-auto text-center">
          <a asp-controller="Usuario" asp-action="Cadastrar"><img src="~/png/registro.png" class="w-25"></a>
          <h4 class="display-6">REGISTRE-SE</h4>
          <div>
            <p class="lead">
              REGISTRE-SE GRATUITAMENTE E COMECE A ADMINISTRAR SUAS FICHAS
            </p>
          </div>
        </div>
      </div>
      <div class="col border  rounded p-3 m-1" style="color: white; background-color:  rgb(134, 26, 22);">
        <div class="m-auto text-center">
          <a asp-action="ExibirFicha" asp-controller="Home"><img src="~/png/papel.png" class="w-25"></a>
          <h4 class="display-6">CRIE SUA FICHA</h4>
          <div>
            <p class="lead">
              CRIE E ADMINISTRE SUAS FICHAS EM UM CLIQUE!!
            </p>
          </div>
        </div>
      </div>
      <div class="col border  rounded  p-3 m-1" style="color: white; background-color:  rgb(134, 26, 22);">
        <div class="m-auto text-center">
          <a asp-action="Index" asp-controller="Rolagem"><img src="~/png/dice.png" class="w-25"></a>
          <h4 class="display-6">ROLADOR DE DADOS</h4>
          <div>
            <p class="lead">
              FAÇA SUAS ROLAGENS VIRTUALMENTE!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 m-auto p-0 my-2">
      <h1 class="text-center display-6 mx-auto my-4" style="color: rgb(134, 26, 22)"> - Dungeons and Dragons - </h1>
      <p style="color: black" class="m-2 lead">
        Já imaginou ir para Hogwarts, fazer magias e viver aventuras com seus amigos? Dungeons & Dragons é quase isso, e
        muito mais. É um jogo de rpg que qualquer um com acesso internet e uns papeis pode jogar, e é o meu maior vício
        ultimamente, então decidi fazer esse post explicando como é.

        Mais ou menos uma vez por mês, eu e uns amigos nos encontramos pra jogar. Nós sentamos em uma mesa, com o Mestre
        na ponta, e cada um de nós é responsável pelo próprio personagem que tem habilidades únicas. Juntos, nós vivemos
        aventuras por uma Grécia da Antiguidade mágica onde deuses (e monstros!) são uma ameaça bem real.

        No último dia que nós jogamos, estávamos atravessando uma floresta selvagem para chegar até outra floresta
        porque
        Ártemis mandou uma mensagem para Clór, uma das personagens do nosso grupo que segue a deusa, dizendo que algo
        sinistro estava acontecendo lá e pedindo ajuda. Atravessar a floresta foi difícil, enfrentamos um gigante de
        duas
        cabeças, um bicho feito de grama que quase matou a gente de madrugada, umas panteras quase invisíveis e até uma
        múmia. Em algum momento eu pesquei uma bota no rio, mas o principal é que a múmia infectou a Brittany (outra das
        personagens) com uma doença e nós tivemos que sair correndo em busca de uma cura.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="row col my-3 py-3" >
      <div>
      <h1 class="display-6 text-center mx-auto mb-4"  style="color: rgb(134, 26, 22)">-Extensões-</h1>
      <div class="col-9 text-center m-auto" >
        <p class="lead" class="m-2">
          Os livros de D&D são classificados de acordo com seu conteúdo. Os livros que possuem as regras essenciais do
          jogo
          são nomeados como livros base. No caso da 5° edição os livros base são: o livro do jogador, livro dos monstros
          e
          livro do mestre. Estes três livros felizmente já foram lançados no Brasil pela Galápagos. Desta forma é
          possível
          jogar o sistema, em toda sua plenitude.

          Além dos livros base, existem também os livros de aventuras prontas. Estes livros contêm campanhas com
          histórias,
          monstros e reviravoltas definidas, onde o mestre deverá desenvolver a história, sem ter a necessidade de criar
          a
          mesma. Eu já falei sobre todas as aventuras prontas já lançadas, em dois artigos que vocês podem conferir
          abaixo.
        </p>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row col mx-auto">
      <h1 class="display-6 text-center mx-auto my-4"  style="color: rgb(134, 26, 22)"> NOVIDADES!!!</h1>
      <br>
      <br>
      <div class="col-5 mx-auto text-center">
        <iframe class="w-100" height="505" src="https://www.youtube.com/embed/4ej5yjOqBMI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-9 m-auto">
        <br>
        <br>
        <p class="lead" style="color: black" style="m-2">Em um mundo repleto de dragões, elfos, anões, orcs e outras
          criaturas fantásticas, sobreviver é sempre um grande desafio. Raven Hightower é um humano que se arrisca
          entre
          os lugares mais perigosos e misteriosos desse universo, sempre com a ajuda de outros aventureiros que, assim
          como ele, estão dispostos a combater o mal e a derrotar as mais terríveis criaturas que surgem em seus
          caminhos.
          Baseado no jogo Dungeons & Dragons, um Role Playing Game (RPG) criado na década de 70.</p>
      </div>
    </div>
  </div>
</div>
