@model Personagem;
@* <nav aria-label="Page navigation example" class="d-flex">
    <ul class="pagination mx-auto">
        <li class="page-item"><button class="page-link" onclick="pagina1()">1</button></li>
        <li class="page-item"><button class="page-link" onclick="pagina2()">2</button></li>
    </ul>
</nav> *@
<partial name="~/Views/Ficha/FichaFrontal.cshtml"></partial>
@* <partial name="~/Views/Ficha/FichaTraseira.cshtml"></partial> *@