@model Personagem;
<div id="container_telatraseira" class="container bg bg-fundoclaro" style="min-width: 1260px; display: none; visibility: hidden">
    <div class="col">
        <div class="row row-cols-2">
            <div class="col-5">
                <span class="texto1 d-inline-block">Classe</span>
                <span class="d-inline-block">CLASSE CONJURADORA</span>
            </div>
            <div class="col-7">
                <div class="row row-cows-3">
                    <div class="col">
                        <span class="d-inline-block">Atributo</span>
                        <span class="d-inline-block">ATRIBUTO DE CONJURADOR</span>
                    </div>
                    <div class="col">
                        <span class="d-inline-block">Cd</span>
                        <span class="d-inline-block">CD PARA EVITAR SUAS MAGIAS</span>
                    </div>
                    <div class="col">
                        <span class="d-inline-block">Mod</span>
                        <span class="d-inline-block">MODIFICADOR DE ATAQUE MÁGICO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>