<table class="tabeladefinicoes">
                        <thead>
                            <tr>
                                <td>
                                    <h4>Nível</h4>
                                </td>
                                <td>
                                    <h4>Bônus de <br>Proficiência</h4>
                                </td>
                                <td>
                                    <h4>Características</h4>
                                </td>
                                <td>
                                    <h4>Fúrias</h4>
                                </td>
                                <td>
                                    <h4>Dano de Fúria</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>1°</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                                <td>
                                    <h5>Fúria, Defesa sem Armadura</h5>
                                </td>
                                <td>
                                    <h5>2</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>2°</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                                <td>
                                    <h5>Ataque Descuidado, Sentido do Perigo</h5>
                                </td>
                                <td>
                                    <h5>2</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>3°</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                                <td>
                                    <h5>Caminho Primitivo</h5>
                                </td>
                                <td>
                                    <h5>3</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>4°</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                                <td>
                                    <h5>Incremento no Valor de Habilidade</h5>
                                </td>
                                <td>
                                    <h5>3</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>5°</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                                <td>
                                    <h5>Ataque Extra, Movimento Rápido</h5>
                                </td>
                                <td>
                                    <h5>3</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>6°</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                                <td>
                                    <h5>Característica de Caminho Primitivo</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>7°</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                                <td>
                                    <h5>Instinto Selvagem</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>8°</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                                <td>
                                    <h5>Incremento no Valor de Habilidade</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+2</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>9°</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                                <td>
                                    <h5>Crítico Brutal (+1 dado)</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>10°</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                                <td>
                                    <h5>Característica de Caminho Primitivo</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>11°</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                                <td>
                                    <h5>Fúria Implacável</h5>
                                </td>
                                <td>
                                    <h5>4</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>12°</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                                <td>
                                    <h5>Incremento no Valor de Habilidade</h5>
                                </td>
                                <td>
                                    <h5>5</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>13°</h5>
                                </td>
                                <td>
                                    <h5>+5</h5>
                                </td>
                                <td>
                                    <h5>Crítico Brutal (+2 dados)</h5>
                                </td>
                                <td>
                                    <h5>5</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>14°</h5>
                                </td>
                                <td>
                                    <h5>+5</h5>
                                </td>
                                <td>
                                    <h5>Característica de Caminho Primitivo</h5>
                                </td>
                                <td>
                                    <h5>5</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>15°</h5>
                                </td>
                                <td>
                                    <h5>+5</h5>
                                </td>
                                <td>
                                    <h5>Fúria Persistente</h5>
                                </td>
                                <td>
                                    <h5>5</h5>
                                </td>
                                <td>
                                    <h5>+3</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>16°</h5>
                                </td>
                                <td>
                                    <h5>+5</h5>
                                </td>
                                <td>
                                    <h5>Incremento no Valor de Habilidade</h5>
                                </td>
                                <td>
                                    <h5>5</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>17°</h5>
                                </td>
                                <td>
                                    <h5>+6</h5>
                                </td>
                                <td>
                                    <h5>Crítico Brutal (+3 dados)</h5>
                                </td>
                                <td>
                                    <h5>6</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>18°</h5>
                                </td>
                                <td>
                                    <h5>+6</h5>
                                </td>
                                <td>
                                    <h5>Força Indomável</h5>
                                </td>
                                <td>
                                    <h5>6</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>19°</h5>
                                </td>
                                <td>
                                    <h5>+6</h5>
                                </td>
                                <td>
                                    <h5>Incremento no Valor de Habilidade</h5>
                                </td>
                                <td>
                                    <h5>6</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>20°</h5>
                                </td>
                                <td>
                                    <h5>+6</h5>
                                </td>
                                <td>
                                    <h5>Campeão Primitivo</h5>
                                </td>
                                <td>
                                    <h5>Ilimitado</h5>
                                </td>
                                <td>
                                    <h5>+4</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>